# Ignore node_modules in both Client and Blockchain
client/node_modules/
blockchain/node_modules/

# Ignore build directories
client/build/
blockchain/build/

# Ignore logs and other temporary files
*.log
*.env

# Optional: Ignore .DS_Store (macOS)
.DS_Store

# Optional: Ignore other IDE-specific files (VSCode, etc.)
.vscode/
.idea/